/* This file is redundant, just like the next sentence. It doesn't do anything. All he styles are in stykes.css now.*/
body {
	font-family: Consolas;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	cursor: none;
	margin: 0;
	padding: 0;
}

#start {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	background-color: hsl(210, 100%, 40%);
	color: #ffffff;
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#settings {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	background-color: hsl(0, 0%, 45%);
	color: #ffffff;
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	overflow: hidden;
}

#controls {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	background-color: hsl(0, 100%, 30%);
	color: #ffffff;
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	overflow: hidden;
}

#HUD {
	display: none;
}

#level-counter {
	display: block;
	font: 30px Consolas;
	position: absolute;
	top: 0;
	left: 0;
}

#timer {
	display: block;
	font: 30px Consolas;
	position: absolute;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 55%, 0.65);
}

#console {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 55%, 0.65);
	overflow: hidden;
	font: 30px Consolas;
	text-wrap-mode: wrap;
	word-wrap: break-word;
	white-space: pre-wrap;
}

#damage-bar {
	display: block;
	background-color: hsl(0, 100%, 50%);
	position: absolute;
	left: 99%;
	top: 0;
	width: 1%;
	height: 200px;
	font: 30px Consolas;
}

#inventory {
	display: block;
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	height: 30px;
	background-color: hsla(0, 0%, 80%, 0.65);
}

#health-bar {
	display: block;
	background-color: hsl(120, 100%, 50%);
	position: absolute;
	top: 10px;
	left: 0;
	width: 200px;
	height: 40px;
	font: 30px Consolas;
}

#max-health {
	display: block;
	background-color: hsl(0, 0%, 50%);
	position: absolute;
	top: 10px;
	left: 0;
	width: 200px;
	height: 40px;
	font: 30px Consolas;
}

#damage-taken-bar {
	display: block;
	background-color: hsl(200, 100%, 85%);
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 10px;
	font: 30px Consolas;
}

#credits-button {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	background-color: hsl(0, 0%, 60%);
	color: #ffffff;
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	overflow: hidden;
}

#control-doc {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	background-color: hsl(0, 0%, 0);
	color: #000000;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	cursor: text;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: none;
}

#pause-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: white;
	font-size: 100px;
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	z-index: 10;
}

#choice-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: hsla(0, 0%, 40%, 0.65);
	display: none;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 100px;
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 600;
	z-index: -10;
}

